@import 'buttons-extra-actions';

.btn-icon {
	padding: 0;
}

.ez-field-edit--ezauthor {
    .btn-icon {
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
    }
}

.ez-btn-container--extra-actions {
    position: relative;
    z-index: 1;
}

