{% extends "EzPlatformAdminUiBundle::layout.html.twig" %}

{% trans_default_domain 'search' %}

{% block pageTitle %}{% endblock %}

{% block content %}
    <div id="react-udw"></div>
    <div class="row align-items-stretch ez-main-row">

        {% block left_sidebar %}
            {{ parent() }}
        {% endblock left_sidebar %}

        <div class="col-sm-10 px-0">
            <section class="container mt-5">
                {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with { title: 'search.headline'|trans|desc('Search'), iconName: 'search' } %}

                {% include '@EzPlatformAdminUi/admin/search/search_form.html.twig' with { form: form } %}
            </section>
        </div>
    </div>
{% endblock %}

{% block title %}{{ 'search.perform'|trans }}{% endblock %}
